img#logo {
	width: 150px;
}
.a-logo{
	padding: 4px 15px;
}
.thumbnail img.icon {
    width: 60px;
}
.caption2 {
    height: 50px;
    overflow: hidden;    
	padding: 9px;

}

.glyphicon { margin-right:10px; }
.panel-body { padding:0px; }
.panel-body table tr td { padding-left: 15px }
.panel-body .table {margin-bottom: 0px; }

.thumbnail img {
	width:300px;
}

.txt_price{text-decoration:line-through;}
span.nav{margin-bottom: 5px;}

h1.product-title, h1.page-title{ font-size:22px;font-weight: bold;margin:0; }
h2.product-title{ font-size:18px;font-weight: bold;margin:0; }
h2{ font-size:15px;margin:0; }
h3.product-list-title{font-size:18px;font-weight: normal;margin:0;}

.sale_price{
color: red;
font-size: 25px;
}